@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1560px;
  width: 100%;
  background: #8e8e93;
  font-family: "Roboto", sans-serif;
  padding: 30px 30px 0px;
  color: white;
}

.container {
  background: #054244;
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  display: none;
}
.header .logo {
  margin-left: 40px;
}

.nav__ul {
  display: flex;
  list-style-type: none;
}
.nav li {
  width: 67px;
  height: 67px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
}
.nav li:nth-child(1) {
  background: url("./img/house.svg") no-repeat top 11px left 7px;
  background-size: 23px;
}
.nav li:nth-child(2) {
  background: url("./img/user.svg") no-repeat top 11px left 7px;
  background-size: 23px;
}
.nav li:nth-child(3) {
  background: url("./img/folder.svg") no-repeat top 11px left 9px;
  background-size: 23px;
}
.nav li:nth-child(4) {
  background: url("./img/sms.svg") no-repeat top 11px left 8px;
  background-size: 23px;
}
.nav li:hover {
  background-color: rgba(190, 190, 190, 0.83);
  border-radius: 9px;
}
.nav__item {
  margin-right: 35px;
}
.nav__item > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.hero {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero__text {
  flex-basis: 45%;
}
.hero__title {
  font-size: 64px;
  line-height: 82px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.hero__descr {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 40px;
}
.hero__btn {
  border: none;
  font-weight: 700;
  border-radius: 8px;
  padding: 18px 25px;
  text-transform: uppercase;
  cursor: pointer;
}
.hero .my-img {
  width: 371px;
  background: url("./img/me.png") center bottom no-repeat;
  background-size: cover;
}

.hero__img {
  padding-bottom: 33px;
  height: 640px;
  flex-basis: 45%;
  background: #2d586f;
  background: url("./img/window-for-wear.png") no-repeat center;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}
.hero__img img {
  width: 380px;
}

.small-me {
  display: none;
}

.about {
  padding: 40px 35px;
}

.about-me span {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FF5E69;
}
.about-me h2 {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
.about-me .about__cardzone {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}
.about-me .about__cardzone .card {
  flex-basis: 30%;
  max-width: 320px;
}
.about-me .about__cardzone .card img {
  width: 50px;
}
.about-me .about__cardzone .card h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}
.about-me .about__cardzone .card ul li {
  margin-top: 15px;
}

.works {
  margin-top: 50px;
}
.works h2 {
  text-align: center;
  margin-bottom: 60px;
}

.project {
  display: flex;
  margin-top: 100px;
  gap: 5%;
}
.project-first {
  margin-top: 70px;
}
.project__left-side {
  flex-basis: 30%;
}
.project__left-side h3 {
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.project__left-side span {
  font-weight: 700;
  font-size: 26px;
  line-height: 59px;
  letter-spacing: 1px;
}
.project__right-side {
  flex-basis: 65%;
}
.project__right-side img {
  width: 100%;
  background: #000;
  margin-bottom: 20px;
  border-radius: 16px;
}
.project__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
}
.project-btn {
  padding: 15px 40px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
}
.project__description p {
  margin-top: 15px;
}

.contact {
  text-align: center;
  max-width: 1560px;
  width: 100%;
  margin-top: 140px;
}
.contact__zone {
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}
.contact__img {
  flex-basis: 40%;
  background: #000;
}
.contact__form {
  max-width: 400px;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact__form input, .contact__form textarea {
  font-size: 16px;
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-top: 8px;
  border-radius: 8px;
}
.contact__form button {
  padding: 17px;
  border-radius: 8px;
  cursor: pointer;
}
.contact .contact__img {
  height: 550px;
  width: 180px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.footer__links {
  display: flex;
  gap: 40px;
}
.footer__links a {
  text-decoration: none;
  color: #fff;
  padding: 10px 0 10px 40px;
  font-size: 18px;
}
.footer__links .footer__links__first-link {
  background: url(./img/mail.svg) no-repeat center left;
  background-size: 30px;
}
.footer__links .footer__links__second-link {
  background: url(./img/icon-telegram.svg) no-repeat center left 0px;
  background-size: 38px;
}

@media screen and (max-width: 1100px) {
  .card {
    flex-basis: 30%;
  }
  .hero__img {
    background-size: contain;
    flex-basis: 50%;
  }
  .hero .my-img {
    width: 75%;
    background-size: contain;
    background-position: center bottom 48%;
  }
}
@media screen and (max-width: 992px) {
  .hero__title {
    font-size: 54px;
    margin-bottom: 40px;
  }
  .hero__descr {
    font-size: 22px;
  }
  .about-me span {
    font-size: 18px;
  }
  .about-me h2 {
    font-size: 35px;
  }
  .about-me .card h3 {
    font-size: 20px;
  }
  .about-me .card p {
    font-size: 14px;
  }
  .about-me .card li {
    font-size: 12px;
  }
  .project__left-side h3 {
    font-size: 41px;
    line-height: 45px;
  }
  .contact__img {
    display: none;
  }
  .footer p {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #000;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .nav__ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 350px;
    margin: 60px auto;
  }
  .nav li {
    width: 100%;
  }
  .nav li:nth-child(1), .nav li:nth-child(2), .nav li:nth-child(3), .nav li:nth-child(4) {
    background: none;
  }
  .nav a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 23px;
  }
  .nav.active {
    transform: translateX(0);
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    transition: all 1s;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 1s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::after {
    transform: rotate(45deg);
    bottom: 9px;
  }
  .header__burger.active::before {
    transform: rotate(-45deg);
    top: 9px;
  }
  body.lock {
    overflow: hidden;
  }
}
@media screen and (max-width: 576px) {
  .hero__img {
    display: none;
  }
  .small-me {
    background-size: contain;
    flex-basis: 50%;
    margin: 0 auto;
    display: block;
  }
  .small-me__img {
    height: 100%;
    width: 75%;
    background: url("./img/me.png") left 20% center no-repeat;
    background-size: contain;
  }
  .hero {
    text-align: center;
  }
  .hero__title {
    font-size: 44px;
    margin-bottom: 40px;
  }
  .hero__descr {
    font-size: 20px;
  }
  .hero__btn {
    margin-bottom: 50px;
  }
  .about span {
    font-size: 13px;
  }
  .about h2 {
    font-size: 21px;
  }
  .about__cardzone {
    display: flex;
  }
  .about__cardzone .card {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */