@import 
url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// fonts

$font: 'Roboto', sans-serif;
 

// color

$bg-body: #8e8e93;
$site-color: #054244;
$wear-color: #2d586f;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0 auto;
    max-width: 1560px;
    width: 100%;
    background: $bg-body;
    font-family: $font;
    padding: 30px 30px 0px;
    color: white;
}


.container{
    background: $site-color;
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__burger{
        display: none;
    }


    .logo{
        margin-left: 40px;
    }
}

.nav{
    &__ul{
        display: flex; 
        list-style-type: none;
    }

    li{
        width: 67px;
        height: 67px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 10px;
    }

    



    li:nth-child(1){
        background: url('./img/house.svg') no-repeat top 11px left 7px;
        background-size: 23px;
    }

    li:nth-child(2){
        background: url('./img/user.svg') no-repeat top 11px left 7px;
        background-size: 23px;
    }

    li:nth-child(3){
        background: url('./img/folder.svg') no-repeat top 11px left 9px;
        background-size: 23px;
    }

    li:nth-child(4){
        background: url('./img/sms.svg') no-repeat top 11px left 8px;
        background-size: 23px;
    }


    li:hover{
        background-color: rgba(190, 190, 190, 0.83);
        border-radius: 9px;
    }
    
    &__item{
        margin-right: 35px;
        >a{
            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }
    }
}





.hero{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__text{
        flex-basis: 45%;
    }


    &__title{
        font-size: 64px;
        line-height: 82px;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }

    &__descr{
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 40px;
    }

    &__btn{
        border: none;
        font-weight: 700;
        border-radius: 8px;
        padding: 18px 25px;
        text-transform: uppercase;
        cursor: pointer;
    }


    .my-img{
        width: 371px;
        background: url('./img/me.png') center bottom no-repeat;   
        background-size: cover; 
    }
}

.hero__img{
    padding-bottom: 33px;
    height: 640px;
    flex-basis: 45%;
    background: #2d586f; 
    background: url('./img/window-for-wear.png') no-repeat center;
    margin-left: 50px;
    display: flex;
    justify-content: center;
        img{
            width: 380px;
        }
}

.small-me{
    display: none;
}





.about{
    padding: 40px 35px;
}


.about-me{
    


    span{
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #FF5E69;
    }


    h2{
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
        font-size: 50px;
        line-height: 59px;
        text-align: center;
        letter-spacing: 1px;    
        color: #fff;
    }


    .about__cardzone{
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
        .card{
            flex-basis: 30%;
            max-width: 320px;

            img{
                width: 50px;
            }


            h3{
                margin-top: 20px;
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 24px;
                line-height: 26px;
            }

            ul{
                li{
                    margin-top: 15px;
                }
            }
        }
    }
}




.works{
    margin-top: 50px;
    h2{
        text-align: center;
        margin-bottom: 60px;

    }
}
.works__small-var__project{
    display: none;
}

.project{
    display: flex;
    margin-top: 100px;
    gap: 5%;
    


    &-first{
        margin-top: 70px;
    }



    &__left-side{
        flex-basis: 30%;
        
        
        h3{
            font-weight: 700;
            font-size: 54px;
            line-height: 59px;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }


        span{
            font-weight: 700;
            font-size: 26px;
            line-height: 59px;
            letter-spacing: 1px;
        }
    }




    &__right-side{
        flex-basis: 65%;


        img{
                width: 100%;
                background: #000;
                margin-bottom: 20px;
                border-radius: 16px;
            }
    }



    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 1px; 
    }



    &-btn{
        padding: 15px 40px;
        background: #fff;
        color: #000;
        text-decoration: none;
        border-radius: 8px;
    }



    &__description{
        p{
            margin-top: 15px;
        }
    }
}








.contact{
    text-align: center;
    max-width: 1560px;
    width: 100%;
    margin-top: 140px;

    h2{
        margin-bottom: 10px;
    }

    &__zone{
        justify-content: space-around;
        display: flex;
        align-items: center;
        padding: 20px;
        margin-top: 40px;
    }

    &__img{
        flex-basis: 40%;
        background: #000;
    }



    &__form{
        max-width: 400px;
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        text-align: left;


        input, textarea{
            font-size: 16px;
            padding: 15px 20px;
            margin-bottom: 20px;
            margin-top: 8px;
            border-radius: 8px;
        }

        button{
            padding: 17px;
            border-radius: 8px;
            cursor: pointer;
        }
    }


    .contact__img{
        height: 550px;
        width: 180px;
    }
}






.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;


    &__links{
        display: flex;
        gap: 40px;


        a{
            text-decoration: none;
            color: #fff;
            padding: 10px 0 10px 40px;
            font-size: 18px;
        }


        .footer__links__first-link{
            background: url(./img/mail.svg) no-repeat center left;
            background-size: 30px;

        }


        .footer__links__second-link{
            background: url(./img/icon-telegram.svg) no-repeat center left -6px;
            background-size: 43px;

        }   
    }
}





// ADAPTIVE



@media screen and (max-width: 1100px){
    .card{
        flex-basis: 30%;
    }

    .hero__img{
        background-size: contain;
        flex-basis: 50%;
    }

    .hero .my-img{
        width: 75%;
        background-size: contain;
        background-position: center bottom 48%;
    }
}

@media screen and (max-width: 992px){
    .hero__title{
        font-size: 54px;
        margin-bottom: 40px;
    }

    .hero__descr{
        font-size: 22px;
    }


    .about-me{
        span{
            font-size: 18px;
        }

        h2{
            font-size: 35px;
        }

        .card{
            h3{
                font-size: 20px;
            }

            p{
                font-size: 14px;
            }

            li{
                font-size: 12px;
            }
        }

    }



    .project__left-side{
        h3{
            font-size: 41px;
            line-height: 45px;
        }
    }

    .contact__img{
        display: none;
    }

    .footer{
        p{
            display: none;
        }
    }

}


@media screen and (max-width: 768px){
    .nav{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #000;
        transform: translateX(100%);
        transition: all 0.5s;

        &__ul{
            display: flex;
            flex-direction: column;
            gap: 30px;
            
            max-width: 350px;
            margin: 60px auto;
        }

        li{
            width: 100%;
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
                background: none;
            }

        }
        a{
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            font-size: 23px;

        }


        &.active{
            transform: translateX(0);
        }
    }




    .header{
        &__burger{
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            transition: all 1s;

            &::after, &::before{
                content: '';
                background: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                transition: all 1s;
            }

            &::before{
                top: 0;
            }

            &::after{
                bottom: 0;
            }


            & span{
                background: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                top: 9px;
            }


            &.active{
                span{
                    transform: scale(0); 
                }
                &::after{
                    transform: rotate(45deg);
                    bottom: 9px;
                }

                &::before{
                    transform: rotate(-45deg);
                    top: 9px;
                }
            }
        }
    }

    body.lock{
        overflow: hidden;
    }

    .footer{
        &__links{
            gap: 10px;
        }
    }
}


@media screen and (max-width: 576px){
    .hero__img{
        display: none;
    }
    .small-me{
        background-size: contain;
        flex-basis: 50%;
        margin: 0 auto;
        display: block;

        &__img{
            height: 100%;
            width: 75%;
            background: url('./img/me.png') left 20% center no-repeat;  
            background-size: contain;
            margin-left: 52px;
            // background-position: left 50% bottom 48%;
        }
    }

    .logo, .header{
        margin-left: -34px;
    }

    .hero{
        text-align: center;


        &__title{
            font-size: 44px;
            margin-bottom: 40px;
        }

        &__descr{
            font-size: 20px;
        }

        &__btn{
            margin-bottom: 50px;
        }
    }
    

    .about{
        span{
            font-size: 13px;
        }

        h2{
            font-size: 21px;
        }


        &__cardzone{
            display: flex;
            flex-direction: column;
            gap: 50px;
            .card, .about__cardzone{
                width: 100%;
            }
        }
    }



    .works{
        &__all__sizes{
            h3{
                margin-top: 20px;
                font-size: 25px;
            }

            p{
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }

        text-align: center;
        &__project{
            display: none;
        }



        &__small-var__project{
            display: block;
            margin-bottom: 60px;
            img{
                width: 100%;
            }

            .project__description{
                text-align: left;
            }
        }
    }



    .footer{
        &__links{
            gap: 0px;
            text-align: left;
            display: flex;
            flex-direction: column;
        }
    }
}


@media screen and (max-width: 400px){
    .footer__logo{
        display: none;
    }

    textarea{
        width: 238px;
    }
}